<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FusionCompaniesService_FusionCompaniesTrigger_REQUEST_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="FusionCompaniesService_FusionCompaniesTrigger_REQUEST_binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://OIDevOICS-eivjinterop.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/FUSIONCOMPANIES/1.0/"
                binding="basicHttpBinding" bindingConfiguration="FusionCompaniesService_FusionCompaniesTrigger_REQUEST_binding"
                contract="servicieCompanies.FusionCompaniesService_FusionCompaniesTrigger_REQUEST"
                name="FusionCompaniesService_FusionCompaniesTrigger_REQUEST_pt" />
        </client>
    </system.serviceModel>
</configuration>