<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSFussionCompanie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSFussionCompanie.Properties.Settings>
            <setting name="WSFussionCompanie_WSCompanies_FusionCompanies"
                serializeAs="String">
                <value>https://OIDevOICS-eivjinterop.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/FUSIONCOMPANIES/1.0/</value>
            </setting>
        </WSFussionCompanie.Properties.Settings>
    </applicationSettings>
</configuration>